<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/index.html">Home</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/authors-list.html">Authors</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/contact.html">Contact</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="https://pay.squadco.com/TUKMXT">Buy me a coffee <i class="fa fa-coffee text-danger"></i></a>
</li>
<li class="nav-item">
    <a target="_blank" class="nav-link" href=" https://www.upwork.com/freelancers/~01f347888f7198ba97">Hire us <i class="fa fa-address-card text-success"></i></a>
</li>
